<div class="navbar">
  <a class="navbar_brand" href="#" title="Home">
    <img src="assets/images/logblack-edit.png" class="logo" alt="Versa">
  </a>

  <div class="navbar_item">
    <a class="" href="#">Invest</a>
    <a class="" href="#">How it works</a>
    <a class="" href="#">Contact Us</a>
    <a class="button" href="#0">Login</a>
    <a class="button_one" href="#0">Signup</a>
  </div>
</div>

<div class="section_one">
  <div class="section_one_flex">
    <div class="section_one_start">
      <h1 class=""><span>smarter</span> way to invest?</h1>
      <p class="">
        VERSA is an investment platform built to help increase
        earning potential. We invest in innovative and
        well researched alternative investment portfolios
        to help grow your funds.
      </p>
      <div class="button_two" href="#0">Get Started</div>
    </div>
    <div class="section_one_end">
      <img src="assets/images/home-image.svg" class="">
    </div>
  </div>
</div>

<div class="section_two">
  <h1 class="">
    Why Versa?
  </h1>
  <p class="">
    At VERSA, We have come to recognize that middle income earners find it hard to invest their minimal savings, we provide viable opportunities that can grow their funds exponentially.
  </p>

  <div class="section_two_cardholder">
    <div class="section_two_card">
      <img src="assets/images/target.png">
      <h1 class="">Plan your Financial Target</h1>
      <p class="">
        Gain access to numerous portfolios,
        providing different opportunities
        that fits your financial goals..
    </p>
    </div>
    <div class="section_two_card">
      <img src="assets/images/grow.png">
      <h1 class="">Choose your Investment</h1>
      <p class="">
        Gain access to numerous portfolios,
        providing different opportunities
        that fits your financial goals.
      </p>
    </div>
    <div class="section_two_card">
      <img src="assets/images/realtime.png">
      <h1 class="">Real-Time Insights on Investment activity</h1>
      <p class="">
        Our cutting-edge technology monitors
        your investments, and provides real-time
        insights to monitor your gains..
      </p>
    </div>
  </div>
</div>

<div class="section_three">
  <div class="section_three_flex">
    <div class="section_three_start">
      <h1 class="">
        Start investing in no time
      </h1>
      <h1 class=""><span>.</span>Sign up</h1>
      <p class="">
        Sign up for free! No hidden fees and enjoy
        unlimited investment opportunities.
      </p>
      <h1 class=""><span>.</span>Start your investment plan</h1>
      <p class="">
        Select preferred investment portfolios that
        fits your financial goals.
      </p>
      <h1 class=""><span>.</span>Monitor Funds</h1>
      <p class="">
        Track your investments and monitor your
        funds growth in real time.
      </p>
    </div>
    <div class="section_three_end">
      <img src="assets/images/presentation.png" class="">
    </div>
  </div>
</div>

<div class="section_four">
  <h1 class="">
    Choose your investment portfolio
  </h1>

  <div class="section_four_cardholder">
    <div class="section_four_card">
      <img src="assets/images/bg.jpeg">
      <h1 class="">Real Estate</h1>
      <p class="">
        The current economic situation requires you to have a minimum of $20,000
        before you can invest in Real Estate portfolios. Our unique real-estate portfolios
        don't require you to commit such huge capital before owning a stake in viable and
        high-yielding real estate opportunities across Africa. We are committed to providing
        cheap and affordable housing to middle-income earners within Africa.
      </p>
      <a class="button_two" href="#0">Invest Now</a>
    </div>
    <div class="section_four_card">
      <img src="assets/images/bg1.jpeg">
      <h1 class="">Transportation</h1>
      <p class="">
        With a population of almost 200 million people and very limited
        transportation options to move from one place to another,
        the transport segment is largely untapped with opportunities
        rife enough to ease the dire movement situation across the country while also creating jobs.
        Join our list of growing transportpreneurs by investing in high-yielding land, air and water
        transport investment portfolios.
      </p>
      <a class="button_two" href="#0">Invest Now</a>
    </div>
    <div class="section_four_card">
      <img src="assets/images/bg2.jpeg">
      <h1 class="">
        Agriculture</h1>
      <p class="">
        Agriculture is Nigeria's fastest growing sector with both individuals and large corporations making
        investment stakes in available cash-crop, food-crop, plantation-crop, fisheries, animal husbandry,
        food production and processing opportunities. At versa.ng, you are just a click away from gaining
        access to a wide range of agriculture portfolios to invest your funds and sit back to reap substantial returns.
      </p>
      <a class="button_two" href="#0">Invest Now</a>
    </div>
  </div>
</div>