<div class="navbar">
  <a class="navbar_brand" href="#" title="Home">
    <img src="assets/images/logblack-edit.png" class="logo" alt="Versa">
  </a>

  <div class="navbar_item">
    <a class="" href="#">Invest</a>
    <a class="" href="#">How it works</a>
    <a class="" href="#">Contact Us</a>
    <a class="button" href="#0">Login</a>
    <a class="button_one" href="#0">Signup</a>
  </div>
</div>

<div class="section_one">
  <div class="section_one_flex">
    <div class="section_one_start">
      <h1 class="">The <span>smarter</span> way to invest?</h1>
      <p class="">
        VERSA is an investment platform built to help increase
        earning potential. We invest in innovative and
        well researched alternative investment portfolios
        to help grow your funds.
      </p>
      <div class="button_two" href="#0">Get Started</div>
    </div>
    <div class="section_one_end">
      <img src="assets/images/home-image.svg" class="">
    </div>
  </div>
</div>

<div class="section_two">
  <h1 class="">
    Why Versa?
  </h1>
  <p class="">
    At VERSA, We have come to recognize that middle income earners find it hard to invest their minimal savings, we provide viable opportunities that can grow their funds exponentially.
  </p>

  <div class="section_two_cardholder">
    <div class="section_two_card">
      <img src="assets/images/target.png">
      <h1 class="">Plan your Financial Target</h1>
      <p class="">
        Gain access to numerous portfolios,
        providing different opportunities
        that fits your financial goals..
    </p>
    </div>
    <div class="section_two_card">
      <img src="assets/images/grow.png">
      <h1 class="">Choose your Investment</h1>
      <p class="">
        Gain access to numerous portfolios,
        providing different opportunities
        that fits your financial goals.
      </p>
    </div>
    <div class="section_two_card">
      <img src="assets/images/realtime.png">
      <h1 class="">Real-Time Insights on Investment activity</h1>
      <p class="">
        Our cutting-edge technology monitors
        your investments, and provides real-time
        insights to monitor your gains..
      </p>
    </div>
  </div>
</div>